.jumbotron
{
    padding-top: 7rem;
    background-color: #CFE2FF;
}

#Project
{
    background-color: #CFE2FF;
    padding-top: 6rem;
}

#Contact
{
    padding-top: 9rem;
}

footer
{
    background-color: #64a0fa;
}
