.jumbotron
{
    padding-top: 7rem;
    background-color: #CFE2FF;
}

#Project
{
    background-color: #CFE2FF;
}

footer
{
    background-color: #64a0fa;
}

section
{
    padding-top: 9rem;
}
